.fullPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .pageLeft, .pageRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%
  }
}

.title {
  align-self: flex-start;
  margin-left: 12px;
}

@media (max-width: 480px) {
  .fullPage {
    flex-direction: column;
    .pageLeft, .pageRight {
      width: 100%;
    }
  }
}