@import "the-new-css-reset/css/reset.css";

@font-face {
  font-family: "Play";
  src: local("Play"),
   url("./fonts/Play-Regular.TTF") format("truetype");
   font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
   url("./fonts/Roboto-Regular.TTF") format("truetype");
   font-weight: normal;
}

html {
  color-scheme: dark;
  font-family: Roboto;
}
body {
  color: white;
  background: #303030;
}